{% extends 'VizitkaMainBundle:Default:index.html.twig' %}

{% block content %}

            {% for c in content %}
              <h2> {{ c.title|raw }} </h2>      
              {{ '<hr /><hr /><hr />'|strtr(c.article)|raw  }}
            {% endfor %} 

 {% endblock %}


              