{% extends 'VizitkaMainBundle:Default:base.html.twig' %}

{% block middle %}
<div class="middle">
        <div class="left">
          <div class="content border">   
                {%block content%}
                {%endblock%}
          </div>  
             
        </div>  
        
          <div class="right">
           {% for m in menus %}
                {% if m['position'] == 'left' %}
                  <span><a class = "{{ m['style']['class'] }}" id = "{{m['style']['id']}}" href="/{{m['url']}}">{{m['name']}}</a></span>
                {% endif %} 
            {% endfor %}
         
         </div>  
        <br style="clear: both;"/> 
</div>

{% endblock %}

