{% extends 'VizitkaMainBundle:Default:base.html.twig' %}
{% set name = 'Регистрация' %}
{% block middle %}
    <center><p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p></center>
{% endblock middle  %}

    
