{% extends 'VizitkaShopBundle:Admin:base.html.twig' %}

 {% block body %}

    <div class="adm-menu">
    <span><a href="/shop/admin/">Админка</a></span>
    <span><a href="/shop/admin/products/">Товары</a></span>
    <span><a href="/shop/admin/categories/">Категории</a></span>
    <span><a href="/shop/admin/brands/">Бренды</a></span>
    <span><a href="/shop/admin/features/">Свойства</a></span>
    <span><a href="/shop/admin/orders/">Заказы</a></span>
    <span><a href="/shop/admin/settings/">Настройки</a></span>
    <span class="right"><a href="/shop/" target="_blank">магазин</a></span>
    </div>


<div style="width: 980px;">
<div>Категории товаров</div>
<div><a href="/shop/admin/add_category/">Добавить категорию</a></div><br>


{% for category in categories %}
<a href="/shop/admin/edit_category/{{category.id}}/">{{category.name}}</a>
{% endfor %} 
    


 {% endblock %}