{% extends 'VizitkaShopBundle:Default:base.html.twig' %}

{%block middle%}


<div id="middle">
    
    <div class="border left">
     {%block content%}
            {{product['name']}} <br>  
             <img src="/images/shop/product/{{product['filename']|default('non.jpg')}}" /> 
     {%endblock%}
    </div>
    
    
    <div class=" right">
             <div class="bm">
                <div class="name">
                    Меню
                </div>
            </div>
                               <br><br>


                               
             <div class="bm">
                <div class="name">
                   Корзина
                </div>
                <div class="body">  
                </div>
            </div>

    </div>
    <br style="clear: both;">    
    
</div>



{%endblock%}