{% extends 'VizitkaAdminBundle:Default:base.html.twig' %}
 {% block body %}

    <div class="adm-menu">
    <span><a href="/admin">Админка</a></span>
    <span><a href="/admin/module/">Модуль</a></span>
    <span><a href="/admin/page/">Страницы</a></span>
    <span><a href="/admin/article/">Статьи</a></span>
    <span class="right"><a href="/" target="_blank">просмотр</a></span>
    </div>


<div>
     {% for article in articles %}
            <div class="grey">
                <li> <a href="../edit/{{ article.id }}">{{ article.title }}</a></li></b><br><br>
            </div>
     {% endfor %} 
    
</div>




 {% endblock %}