        <script type="text/javascript" src={{ asset('/js/jQuery-1.8.1min.js') }}></script>
        <script type="text/javascript" src={{ asset('/js/main.js') }}></script>

<div class="test"></div>
<div class="reg">reg</div>
<br>
<div class="login">login</div>
